/**
* @name Wizard
* @author yazoink
* @version 0.0.0
* @description Wizard theme for Discord
**/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --font: Rubik;
  --accentcolor: 117,122,68;
  --accentcolor2: 117,122,68;
  --linkcolor: 117,122,68;
  --mentioncolor: 240,187,48;
  --textbrightest: 223,172,115;
  --textbrighter: 223,172,115;
  --textbright: 223,172,115;
  --textdark: 167,125,92;
  --textdarker: 167,125,92;
  --textdarkest: 111,78,69;
  --backgroundaccent: 55,31,46;
  --backgroundprimary: 27,8,35;
  --backgroundsecondary: 27,8,35;
  --backgroundsecondaryalt: 27,8,35;
  --backgroundtertiary: 27,8,35;
  --backgroundfloating: 55,31,46;

  --green-360: #757a44;

  --settingsicons: 1;
}

.auto_c49869::-webkit-scrollbar-thumb {
  background-color: #371f2e;
}

.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c {
  background-color: #757a44;
}

.inner_c69a7b.biteSize_c69a7b {
  background-color: #1b0823;
}

.role_f9575e.pill_f9575e {
  background-color: #371f2e;
  border: none;
}

.collapseButton_e6f2d0.pill_e6f2d0 {
  background-color: #371f2e;
  border: none;
}

.itemCard_f02fcf.wrapper_cd82a7.outer_ac5d22.padded_ac5d22.interactive_ac5d22:hover {
  background-color: #1b0823;
}

.inner_c69a7b.fullSize_c69a7b {
  background-color: #1b0823;
}

.container_ecc04c {
  background-color: #1b0823;
}

.container_b64375 {
  background-color: #371f2e;
  border: none;
}
